<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebApp</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helper</servlet-name>
    <servlet-class>servlets.HelpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helper</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rand</servlet-name>
    <servlet-class>servlets.RandomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rand</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>servlets.TestServlet</servlet-class>
    <init-param>
      <description>Contact email 1</description>
      <param-name>email1</param-name>
      <param-value>alex@gmail.com</param-value>
    </init-param>
    <init-param>
      <description>Contact email 2</description>
      <param-name>email2</param-name>
      <param-value>usovatatianaalecsandrovna@gmail.com</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/t</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>squareRoot</servlet-name>
    <servlet-class>servlets.SquareRoot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>squareRoot</servlet-name>
    <url-pattern>/square</url-pattern>
  </servlet-mapping>
</web-app>